body {
  background: white;
  font-family: "EB Garamond", serif;
  color: #000;
}

.everything {
  max-width: 700px;
  margin: 30px auto;
  margin-bottom: 10px;
  background: radial-gradient(
    788px at 0.7% 3.4%,
    rgb(162, 232, 190) 0%,
    rgb(252, 248, 247) 110%
  );
  padding: 35px 35px;
  border-radius: 20px;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  border: solid rgb(90, 98, 117, 0.4);
  border-width: 3px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 5%);
}

h1 {
  color: #445247;
  font-size: 55px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

h2 {
  color: #5a6275;
  font-size: 10px;
  font-family: "DM Serif Display", serif;
  font-weight: 300;
}

p {
  color: #ec6e4b;
  font-size: 18px;
}

.form-control {
  font-size: 20px;
}
.btn-primary {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  font-size: 20px;
  color: #5a6275;
  border-radius: 40px;
  border: dotted #abc5e8;
  margin: 10px auto;
  box-shadow: 5px 3px 3px rgb(88, 192, 173, 0.6);
}

.btn-primary:hover {
  background-color: rgba(235, 182, 235, 0.4);
  color: #5a6275;
  border: dotted #5a6275;
}

.temperature-now {
  font-size: 30px;
  color: #5a6275;
  margin: 10px auto;
}

.description {
  font-size: 18px;
  text-transform: capitalize;
  color: #5a6275;
  margin: 10px auto;
}

.units {
  font-size: 20px;
  color: #5a6275;
  margin: 10px auto;
}

.emoji-now {
  font-size: 70px;
}

.rain {
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #5a6275;
}

.wind {
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #5a6275;
}

.col-3 {
  color: #ec6e4b;
  font-size: 17px;
}

.thedays {
  color: #5a6275;
  opacity: 0.8;
  font-family: "DM Serif Display", serif;
  max-width: 800px;
  margin: 35px auto;
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  padding: 30px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  border: dotted rgba(185, 195, 245, 0.4);
  border-width: 4px;
  box-shadow: 5px 3px 3px rgb(88, 192, 173, 0.4);
}

.degrees {
  font-size: 15px;
}

.next-city:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 12px;
}
